{% extends "src/_includes/default.njk" %}

{% block title %}Greenroom{% endblock %}

{% block content %}
  <article class="prose">
    <h1>Greenroom</h1>
    <p>Space Sailer 22 EF303 1980</p>
  </article>
{% endblock %}
